body {
   margin:0 auto;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav {
    padding: 5px 0px 5px 50px;
}

    .nav a {
        color: #ffffff;
    }

.content h2 {
    padding: 20px;
    margin-left: 20px;
}

.log-list .card-body:hover {
    background: #ddd;
    cursor: pointer;
    color: #ffffff;
}
.log-list .col-sm-2{padding-left:0px;padding-right:5px;margin-bottom:5px;max-width:200px;text-align:center;}
.hidden {display: none;}
