@{
    ViewData["Title"] = "Home Page";
    List<string> projs = ViewBag.Projects;
}
<h2>日志管理</h2>
<div class="form-group">
    <form>
        <div class="form-row">
            <div class="form-group col-md-8">
                <input type="text" class="form-control" id="keyword" placeholder="输入查询条件，支持ES语法" />
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="form-control btn btn-primary mb-2">搜索</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-9">
        <h2>番茄日志</h2>
        <ul>
            @foreach (var p in projs)
            {
                <li><a href="###" onclick="getLabels(this,'@p');">@p</a></li>
            }
        </ul>
    </div>
</div>
<ul class="list-group" id="labels"></ul>
<script>
    function getLabels(obj, proj) {
        $.post("/log/labels", { proj: proj }, function (data) {
            $("#labels li").remove();
            var labels = $("#labels");

            $(data).each(function (num, res) {
                var r = JSON.parse(res);
                $(labels).append("<li class=\"list-group-item\"><a href=\"/Home/Detail?proj=" + proj + "&label=" + r.FileName + "\">" + r.FileName + "</a></li>");
            });

            $(obj).append(labels);
        }, "json");
    }

</script>
