@model MessageViewModel
@{
    int count = Convert.ToInt32(ViewData["Count"]);
    var url = $"/Home/Detail?Project={Model.Project}&Label={Model.Label}&Keyword={Model.Keyword}&PageSize={Model.PageSize}";
    string nextUrl = null;
    string prevUrl = null;
    if (count == 100) { nextUrl = url + $"&Page={Model.Page + 1}"; }
    if (Model.Page > 1) { prevUrl = url + $"&Page={Model.Page - 1}"; }
}
<div class="form-inline">
    <nav aria-label="Page navigation">
        <pl class="pagination">
            @if (prevUrl != null)
            {
                <pli class="page-item"><a class="page-link" href="@prevUrl" title="Previous Page">Previous</a></pli>}
            @if (nextUrl != null)
            {
                <pli class="page-item"><a class="page-link" href="@nextUrl" title="Next Page">Next</a></pli>}
        </pl>
    </nav>
</div>