<div class="panel panel-warning">
    <a name="SysVariable"></a>
    <div class="panel-heading bg-warning">
        <label>System variables（Case sensitive）</label>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">Events Timestamp：{Timestamp}</li>
            <li class="list-group-item">Source IP：{IP}</li>
            <li class="list-group-item">Source IP List：{IPList}</li>
            <li class="list-group-item">The Exception Message：{ErrorMessage}</li>
            <li class="list-group-item">StackTrace Infomation：{StackTrace}</li>
            <li class="list-group-item">Log Level：{LogLevel}</li>
            <li class="list-group-item">Host Name：{MachineName}</li>
            <li class="list-group-item">Process ID：{ProcessId}</li>
            <li class="list-group-item">Porcess Name：{ProcessName}</li>
            <li class="list-group-item">Project Label：{ProjectLabel}</li>
            <li class="list-group-item">Project Name：{ProjectName}</li>
            <li class="list-group-item">Thread ID：{ThreadId}</li>
            <li class="list-group-item">Host UserName：{UserName}</li>
            <li class="list-group-item">Project Version：{Version}</li>
            <li class="list-group-item">Extension Infomation：{Extra}</li>
        </ul>
    </div>
</div>