@{
    ViewData["Title"] = "Contact US";
}
<div class="jumbotron">
    <h1 class="display-4">Contact US</h1>
    <p class="lead">lianggx@foxmail.com</p>
    <hr class="my-4">
    <p>Click on the link below to contact us.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/lianggx/TomatoLog" role="button" target="_blank">github.com</a>
</div>