@{
    ViewData["Title"] = "Home Page";
    List<string> projs = ViewBag.Projects;
}
<h2>TomatoLog</h2>
<div class="row">
    <div class="col-md-9">
        <ul>
            @foreach (var p in projs)
            {
                <li><a href="###" onclick="getLabels(this,'@p');">@p</a></li>
            }
        </ul>
    </div>
</div>
<ul class="list-group" id="labels"></ul>
<script>
    function getLabels(obj, proj) {
        $.post("/log/labels", { proj: proj }, function (data) {
            $("#labels li").remove();
            var labels = $("#labels");

            $(data).each(function (num, res) {
                var r = JSON.parse(res);
                $(labels).append("<li class=\"list-group-item\"><a href=\"/Home/Detail?Project=" + proj + "&Label=" + r.FileName + "\">" + r.FileName + "</a></li>");
            });

            $(obj).append(labels);
        }, "json");
    }

</script>
