@{
    ViewData["Title"] = "TomatoLog";
    List<string> projs = ViewBag.Projects;
}
<div class="container">
    <h2> <span class="badge badge-secondary">Project List</span></h2>
    <div class="row log-list">
        @foreach (var p in projs)
        {
            var displayProject = p;
            var lastIndex = p.LastIndexOf('/');
            if (lastIndex > 0)
            {
                displayProject = p.Substring(lastIndex + 1);
            }
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <a href="/home/labels?proj=@p" target="_self">@displayProject</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>